<h1>Editing coin</h1>
<p><%= link_to "Voltar par o Menu", welcome_index_path %></p>
<%= render "form", coin: @coin%>
<br>

<div>
  <%= link_to "Show this coin", @coin %> |
  <%= link_to "Back to coins", coins_path %>
</div>
